<h1>Events calendar</h1>

<%= form_for @event do |form| %>
  <%= form.label "Start date" %>
  <%= form.datetime_select :starts_at %>
  <br>
  <%= form.label "End date" %>
  <%= form.datetime_select :ends_at %>
  <br>
  <%= form.label "Description" %>
  <%= form.text_field :description %>
  <br>
  <%= form.submit %>
<% end %>

<div id='calendar'></div>
